@using Microsoft.AspNetCore.Identity
@using oa.Areas.Identity.Data
@using oa.Services
@using oa.Models
@inject UserManager<AppUser> UserManager

@{
    string? userid = UserManager.GetUserId(User);
    string? role = "";
    if (userid != null)
    {
        DbConnectorService dbServ = new DbConnectorService();
        AppUserModel user = dbServ.GetUserDetailsById(userid);
        role = user.UserRole;
    }
}

<h1 class="text-center margin-top-120">Administration Home</h1>
<p class="text-center">Welcome @UserManager.GetUserName(User).</p>
<p class="text-center">Your current role is: @role</p>


<div class="outer-container">
    <div class="container-row">
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageAccounts"><img class="btn-img" width="150" src="~/img/manage_users.jpg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Manage Users</span>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ManageRoles"><img class="btn-img" width="150" src="~/img/user_roles.jpg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Mangage Roles</span>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Admin" asp-action="ViewLogs"><img class="btn-img" width="150" src="~/img/security_logs.jpg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">View Logs</span>
            </div>
        </div>
    </div>
</div>
