@model oa.Models.SettingsModel
@{
    ViewData["Title"] = "System Settings";
}
<h1 class="text-center mb-5  margin-top-120">System Settings</h1>

<div class="settings-row">
    <div class="settings-form-container">
    <div class="mx-auto">
        <form asp-action="PostSystemSettings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-floating mb-3">
                <input asp-for="business_name" class="form-control" autocomplete="user-name" placeholder="" id="business_name" />
                <label asp-for="business_name" class="control-label"></label>
                <span asp-validation-for="business_name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input type="date" asp-for="open_close_date" class="form-control" autocomplete="user-name" placeholder="" id="open_close_date" readonly />
                <label asp-for="open_close_date" class="control-label"></label>
                <span asp-validation-for="open_close_date" class="text-danger"></span>
            </div>
            <div class="closing-btn-container mb-2">
                <button type="button" class="btn btn-outline-danger closing-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Close Anual Accounting Period
                </button>
            </div>
            <div class="closing-information-container">
                Last closed by: @Model.closing_user <br />
                Last closed on: @Model.open_close_on_date
            </div>
            <div class="form-floating mb-3">
                <input asp-for="closing_user" class="form-control" autocomplete="user-name" placeholder="" id="closing_user" hidden />
                <label asp-for="closing_user" class="control-label" hidden></label>
                <span asp-validation-for="closing_user" class="text-danger" hidden></span>
            </div>
            <div class="form-floating mb-3">
                <input type="date" asp-for="open_close_on_date" class="form-control" autocomplete="user-name" placeholder="" id="open_close_on_date" hidden />
                <label asp-for="open_close_on_date" class="control-label" hidden></label>
                <span asp-validation-for="open_close_on_date" class="text-danger" hidden></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" id="journal_back_href">
                    <div class="btn btn-outline-primary" id="journal_back_btn">
                        <span class="">Return Home</span>
                    </div>
                </a>
            </div>
        </form>
    </div>
</div>
</div>

<!-- Close Accounting Period Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Close Annual Accounting Period?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-warning-txt">
                    <span class="alert-secondary">Warning! This action cannot be undone.  Once an accounting period has been closed and approved by the manager the income and expenses will be zeroed out for the next calandar year.</span>
                </div>
                <form action="/Accounting/CreateClosingEntry" method="post">
                    <div class="form-floating mb-3">
                        <input type="date" name="open_close_date" class="form-control" autocomplete="user-name" placeholder="" id="open_close_date" />
                        <label for="open_close_date" class="control-label">Open/Close Date</label>
                    </div>
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-danger">Confirm Closing Date</button>
            </div>
        </div>
    </div>
</div>
<!-- Reset Data Modal -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel2">Demo Reset Menu</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-warning-txt">
                    <span class="alert-secondary">Warning! This action cannot be undone. The database will be reset to a default set of 'Solved Problem' testing accounts.</span>
                </div>
                <form asp-action="ResetTransactions" method="post">
                    <button type="submit" class="btn btn-danger m-2">Reset Transactions to S.P. Default</button><br />
                </form>
                <form asp-action="ResetAllData" method="post">
                    <button type="submit" class="btn btn-danger m-2">Reset All Data to S.P. Default</button>
                </form>
                <form asp-action="DemoDataTransactionsWithdjustingPending" method="post">
                    <button type="submit" class="btn btn-danger m-2">Reset Transactions, w/ Pending Adj. Entries</button>
                </form>
                <form asp-action="DemoDataTransactionsWithAdjustingApproved" method="post">
                    <button type="submit" class="btn btn-danger m-2">Reset Transactions, w/ Approved Adj. Entries</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="demo-container">
    <button type="button" class="btn btn-outline-danger" style="text-align:right;" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
        Demo Reset Menu
    </button>
</div>

<style>
    .closing-btn{
        height: 50px;
        font-weight:600;
        font-size:16px;
        letter-spacing:.5px;
        text-align:center

    }
    .closing-btn-container{
        text-align:center;
    }
    .demo-container{
        display:flex;
        position:absolute;
        bottom: 50px;
        width: 97.5%;
        justify-content:center;
    }
    .settings-form-container{
        min-width: 400px;
        padding: 20px;
        border: 1px solid;
        border-radius: 10px;
        box-shadow: 3px 3px 3px;
    }
    .settings-row{
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        justify-content:center;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
