@using Microsoft.AspNetCore.Identity
@using oa.Areas.Identity.Data
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnAccount</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnAccount.styles.css" asp-append-version="true" />    
</head>
<body>
    <header>
          <nav class="nav-container">
            <div class="nav-row">
                <div class="nav-inner-col-left">
                    <div class="nav-inner-col-left-item-column">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index"><img style="max-height:40px"src="~/img/OnAccount_Logo_White_B.png" /></a>
                    </div>
                     <div class="nav-inner-col-left-item-column">
                         <partial name="_LoginPartial"/>      
                    </div>
               </div>
               <div class="nav-inner-col-center"></div>
               <div class="nav-inner-col-right">
                    @if (SignInManager.IsSignedIn(User))
                    {
                       @if (User.IsInRole("Manager") || User.IsInRole("Accountant") || User.IsInRole("Administrator"))
                        {
                            <div class="btn btn-outline-primary margin-right-5 background-default-b" id="accounting-btn">
                                <span class="">Action Menu</span>
                            </div>
                            <div class="accounting-menu-container" style="display:none" id="accounting-menu">

                                    <div class="menu-manager-options">Accounting</div>
                                    <div class="accounting-menu-row">
                                        <div class="accounting-menu-row">
                                            <a class="" asp-area="" asp-controller="Accounting" asp-action="Index">Accounting Home</a>
                                        </div>
                                        <div class="accounting-menu-row">
                                            <a class="" asp-area="" asp-controller="Accounting" asp-action="ChartOfAccounts">Chart of Accounts</a>
                                        </div>
                                        <div class="accounting-menu-row">
                                            <a class="" asp-area="" asp-controller="Accounting" asp-action="ChartOfAccounts">Journal Entry</a>
                                        </div>

                                        <hr class="menu-hr" />
                                        <div class="menu-manager-options">Reporting</div>
                                        <div class="accounting-menu-row">
                                            <a class="" asp-area="" asp-controller="Accounting" asp-action="ChartOfAccounts">Trial Balance</a>
                                        </div>
                                        <div class="accounting-menu-row">
                                            <a class="" asp-area="" asp-controller="Accounting" asp-action="ChartOfAccounts">Profit & Loss</a>
                                        </div>
                                        <div class="accounting-menu-row">
                                            <a class="" asp-area="" asp-controller="Accounting" asp-action="ChartOfAccounts">Balance Sheet </a>
                                        </div>
                                        <div class="accounting-menu-row">
                                            <a class="" asp-area="" asp-controller="Accounting" asp-action="ChartOfAccounts">Owner's Equity</a>
                                        </div>
                                        @if (User.IsInRole("Administrator"))
                                        {
                                            <hr class="menu-hr" />
                                            <div class="menu-manager-options">Administration</div>
                                            <div class="accounting-menu-row">
                                                <a class="" asp-area="" asp-controller="Admin" asp-action="ManageAccounts">Users</a>
                                            </div>
                                            <div class="accounting-menu-row">
                                                <a class="" asp-area="" asp-controller="Admin" asp-action="Index" role="button">Roles</a>
                                            </div>
                                            <div class="accounting-menu-row">
                                                <a class="" asp-area="" asp-controller="Admin" asp-action="EventLogs" role="button">Event Logs</a>
                                            </div>
                                        }
                                    </div>
                            </div>
                        }
                    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <div class="btn btn-outline-primary background-white margin-right-20" style="min-height: 40px;">
                            Logout
                        </div>
                    </a>
                      
                    }
               </div> 
            </div>
          </nav>
          @* end mod left nav *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted" style="bottom: 0px; position:fixed;">
        <div style="padding-left:20px;">
            &copy; 2024 - OnAccount - <a asp-area="" asp-controller="Home" asp-action="About">About the development team</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
