@using Microsoft.AspNetCore.Identity
@using oa.Areas.Identity.Data
@using oa.Services
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject UserService CurrentUser

@{
    AppUserModel currentUser = CurrentUser.GetUser();
    var UsersEmail = currentUser.Email;
    var UserName = currentUser.ScreenName;
}

<div class="login-name-container">


@if (SignInManager.IsSignedIn(User))
{
    <div class="login-name-container-inner-row">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            <div class="NavButton">
                @if (!string.IsNullOrEmpty(currentUser.File)){
                    
                    <img class="profile-picture-header-img" src="~/uploads/@currentUser.File" alt="Profile Image"  />
                    <span class="screenname-text"> @UserName</span>
                } else {
                     <span class ="screenname-text"> @UserName</span>
                }
            </div>
        </a>


    </div>
} 
else
{
    <div class="login-name-container-inner">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}
</div>