@using Microsoft.AspNetCore.Identity
@using oa.Areas.Identity.Data
@using oa.Services
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject UserService CurrentUser

@{
    AppUserModel currentUser = CurrentUser.GetUser();
    var UsersEmail = currentUser.Email;
    var UserName = currentUser.ScreenName;
    

}

<div class="login-name-container">
@if (SignInManager.IsSignedIn(User))
{
    <div class="login-name-container-inner-row">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
        <div class="usr-login-btn">
        
            <div class="NavButton">
                @if (!string.IsNullOrEmpty(currentUser.ProfileImage)){
                    
                    <img class="profile-picture-header-img" src="~/uploads/@currentUser.ProfileImage" alt="Profile Image"  />
                    <span class="screenname-text"> @UserName</span>
                } else {
                     <img class="profile-picture-header-img" src="~/uploads/default_user.jpg" alt="Profile Image" />
                     <span class ="screenname-text"> @UserName</span>
                }
            </div>
       
            </div>
            </a>
    </div>
} 
else
{   
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
      <div class="usr-login-btn-not">
        <div class="login-name-container-inner">
            Login
        </div>                
      </div>
    </a>
}
</div>

