@{
    ViewData["Title"] = "The Team";
}
<h1 class="text-center mb-2  margin-top-120">@ViewData["Title hi"]</h1>

<div class="complainer">
    <div class="about-heading-row" style="justify-content: center;">
        <div class="about-heading-img-container">
            <img src="~/img/OnAccount_Logo_White_B.png" class="about-logo" />
        </div>
        <div class="about-heading-text-container">
            <span class="about-heading-text">
                An open source project offering businesses a foundation in accounting to build their unique business on.
            </span>
        </div>
    </div>
</div>
<div class="section-heading-container">
    <span class="section-heading-text">First Class Accounting</span><br/>    
</div>


<div class="section-heading-subcontainer">
    <span class="section-heading-subtext">
    <p>The On-Account web application originated as a class project that has far surpassed its initial requirements, with a vision to become the go-to solution for non-profits and startups. By supporting those who help others, we envision our efforts multiplying many times over within the communities we serve. Over 170,000 lines of code, and counting, have been contributed to the project. By taking on the heavy lifting and creating this foundational software, we have successfully lowered a significant barrier to entry for business owners. This allows them to focus on the people they are passionate about helping, rather than grappling with the learning curve associated with many bloated accounting packages.</p>
    </span>

</div>

<div class="section-heading-subcontainer">
    <span class="section-heading-subtext">
    <p>The On-Account system is now a fully functional platform that enhances the efficiency of the entire accounting process. Our software provides secure, user-friendly, and accessible financial management solutions. It can be utilized anywhere and everywhere through an always-available web application. This allows users to manage their financial accounts whenever necessary while maintaining a high level of security. On-Account delivers a simple interface to manage the many complex functionalities that proper bookkeeping demands. These features encompass all the foundational financial calculations, record-keeping, and reporting functionalities necessary for a business to adhere to general accounting principles in a double-entry accrual-based accounting system.</p>
    </span>

    </div>
<div class="screenshot-container">
    <img class="screenshot-img" src="~/img/screen_shots.png"></img>    
</div>
<div class="about-body-col" style="justify-content: center;">
    <div class="section-heading-container">
        <span class="section-heading-text">Attribution</span>
    </div>
    <div class="section-heading-subcontainer">
        <span class="section-heading-subtext">
        <p>Icons Inspired By: <a href="https://www.freepik.com/icons/accounting">Icon by juicy_fish</a></p>
        </span>
        <span class="section-heading-subtext">
        <p>Calculator modified from: <a href="https://github.com/Ovi/js-calculator">Js-Calculator</a></p>
        </span>
    </div>

    <div class="section-heading-container">
        <span class="section-heading-text">Our Team</span>
    </div>
    <div class="about-card-row">
        <div class="about-card">
            <div class="about-left-col">
                <div class="img-container" style="width: 250px; height: 250px;">
                    <img class="about-img" src="~/img/profile_russ.png" style="width: 95%; height: auto; display: block;" />
                </div>
                <span class="about-contact-text">
                    <a href="mailto:russell@magnadigi.com" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">russell@magnadigi.com</a><br>
                    <a href="https://github.com/sentient-russ" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">https://github.com/sentient-russ</a><br>
                    <a href="https://www.linkedin.com/in/russellsteele/" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/in/russellsteele/</a>
                </span>
            </div>
            <div class="about-right-col">
                <span>
                    Russell E. Steele is graduating December 2024 with a Bachelor of Science in Software Engineering from Kennesaw State University.
                    With solid expertise in computer science and a knack for tech innovation, his recent projects like On-Account.net demonstrate his proficiency in C#, .NET., Java, Javascript, and Python.
                    Coupled with operational and managerial experience, Russell is ready to contribute to innovative organizations in the Atlanta area.
                </span>
            </div>
        </div>
    </div>
    <div class="about-card-row">
        <div class="about-card">
            <div class="about-left-col">
                <div class="img-container" style="width: 250px; height: 250px;">
                    <img class="about-img" src="~/img/profile_zack.jpg" style="width: 95%; height: auto; display: block;" />
                </div>
                <span class="about-contact-text">
                    <a href="mailto:SGESZachary@gmail.com" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">SGESZachary@gmail.com</a><br>
                    <a href="https://github.com/" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">https://github.com/</a><br>
                </span>
            </div>
            <div class="about-right-col">
                <span>
                    Zachary Powell is a future software engineer graduating at the end of the spring 2025 semester with a bachelor's degree,
                    he is quick to learn various languages and methods to create systems. He enjoys working in complicated systems and understanding
                    how they work to be able to add onto them.
                </span>
            </div>
        </div>
    </div>

    <div class="about-card-row">
        <div class="about-card">
            <div class="about-left-col">
                <div class="img-container" style="width: 250px; height: 250px;">
                    <img class="about-img" src="~/img/profil_greg.jpg" style="width: 95%; height: auto; display: block;" />
                </div>
                <span class="about-contact-text">
                    <a href="mailto:gregloj2001@gmail.com" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">gregloj2001@gmail.com</a><br>
                    <a href="https://github.com/wawelgreg" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">https://github.com/wawelgreg</a><br>
                    <a href="https://www.linkedin.com/in/greg-loj/" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">https://www.linkedin.com/in/greg-loj/</a><br>
                </span>
            </div>
            <div class="about-right-col">
                <span>
                    Grzegorz "Greg" Loj is an up and coming Software Engineering bachelors graduate of the Fall 2024 semester from Kennesaw State University.
                    Greg has developed his skills in Python, C#, and Java together with recent projects and coding, both personal and held by his college courses.
                    Recent skills being developed, as of during the Fall 2024 semester, include: Docker, Spring Boot, .NET, PostgreSQL, Windows Server, REST API development, as well as .NET MVC development.
                </span>
            </div>
        </div>
    </div>

    <div class="about-card-row">
        <div class="about-card">
            <div class="about-left-col">
                <div class="img-container" style="width: 250px; height: 250px;">
                    <img class="about-img" src="~/img/profile_manuel.jpg" style="width: 95%; height: auto; display: block;" />
                </div>
                <span class="about-contact-text">
                    <a href="mailto:ManuelJackson91@hotmail.com" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">ManuelJackson91@hotmail.com</a><br>
                    <a href="https://github.com/Mjack216" class="accent-color" style="text-decoration:none;" target="_blank" rel="noopener noreferrer">https://github.com/Mjack216</a>"
                </span>
            </div>
            <div class="about-right-col">
                <span>
                    Manuel Jackson "MJ" is a aspiring software engineer graduating in Spring 2025 semester with a bachelor's degree from Kennesaw State,
                    MJ is eager to learn and is able to quickly adapt to any task given to him. MJ has develop skills in Java, Python, and SQL.
                </span>
            </div>
        </div>
    </div>
</div>

