@{
    ViewData["Title"] = "The Team";
}
<h1 class="text-center mb-2  margin-top-120">@ViewData["Title hi"]</h1>

<p class="text-center mb-4">Built by Fantastic Four Inc.</p>

<div class="text-center mb-5">
    <img src="~/img/OnAccount_Logo_White_B.png" style="max-height: 150px;" />
</div>
<p class="text-center mb-4">
    Manage your financial data with ease. OnAccount provides the tools
    and services needed in order to manage all the finances, financial
    accounts, users (Managers, Accountants, Admins), and more, removing
    the need of tracking your business's accounting on paper.
</p>

<p class="text-center mb-4">
    Interested in taking your business to the next level? Start your
    subscriprion today!
</p>

<h1 class="text-center mb-4">Only $9,999.43 a month!</h1>

<p class="text-center mb-4">No refunds.</p>