@{
    ViewData["Title"] = "Account pending manager aproval.";
}
<h1 class="text-center text-danger  margin-top-120">@ViewData["Title"]</h1>
<p class="text-center ">An authorization email has been sent to the sytems administrator to assign your system role.  Check with your manager if access has not been granted after an hour.</p>
