@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center mb-5">
    <h1 class="display-4 mb-5">On-Account</h1>
    <img class="text-center mb-5" src="~/img/OnAccount_Logo_Black.png" style="max-height: 200px;"/>
    <p class="text-center mb-4">Secure your future inflows with On-Account.</p>
</div>
