@{
    ViewData["Title"] = "Welcome";

}


<div class="text-center mb-5  margin-top-120">
    <div class="landing-logo-text">
         <span>On-Account</span>
    </div
    <div class="=landing-logo">
        <img class="text-center mb-2" src="~/img/OnAccount_Logo_White_B.png" style="max-height: 200px;" />
    </div>
    <p class="text-center mb-4 landing-tagline-text">Secure your future inflows with On-Account.</p>
    @if (!(User.IsInRole("Administrator") || User.IsInRole("Accountant") || User.IsInRole("Manager")))
    {
    <div class="text-center home-button-container">
        <div class="home-button-row">
            <a href="/Identity/Account/Register?url" class="register-button mb-4" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Register new user" >Register</a>
        </div>
        <div class="home-button-row">
            <a href="/Identity/Account/Login" class="login-button mb-4" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Click here to login!" >Login</a>
        </div>
    </div>
    }