@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmed!";
}
<h1 class="text-center mb-5  margin-top-120">@ViewData["Title"]</h1>
<div class="text-center mb-4" style="font-size: 18px;"><p>Once a manager has approved your account, and the systems administrator assigned your role, you may <a href="/Identity/Account/Login">login</a>!</p></div>
@* <partial name="_StatusMessage" model="Model.StatusMessage" /> *@
