@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Email confirmed!";
}
<h1 class="text-center mb-5  margin-top-120">@ViewData["Title"]</h1>
<div class="text-center mb-4"><p>You may now <a href="/Identity/Account/Login">login</a>!</p></div>
@* <partial name="_StatusMessage" model="Model.StatusMessage" /> *@
