@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password reset confirmation";
}

<h1 class="text-center mb-2">@ViewData["Title"]</h1>
<p class="text-center mb-4">
    Please check your email to reset your password.
</p>
