@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password reset confirmation";
}

<h1 class="text-center mb-5  margin-top-120">@ViewData["Title"]</h1>
<p class="text-center mb-4">
    If your entries were valid, a password reset link has been sent to your email account.
</p>
<p class="text-center mb-4">
    Please check your email account and spam folder to get logged in.
</p>
