@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-center text-danger mb-5">@ViewData["Title"]</h1>
    <p class="text-center text-danger mb4">This account has been locked out, please wait for an admin to unlock your account.</p>
</header>
