@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
<div class="margin-top-120">
    <h1 class="text-center mb-5  ">@ViewData["Title"]</h1>
    <p class="text-danger mb4">This account is either not fully setup or has been suspended. New accounts require administrator approval. You may contact a manager or your technical services department if this is not an expected event.</p>
</div>


