@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}
<div class="margin-top-120">
    <h1 class="text-center mb-5  ">@ViewData["Title"]</h1>
    <center><p class="text-danger" style="max-width:600px;">This account is either not fully setup or has been suspended. New accounts require administrator approval. You may contact a manager or your technical services department if this is not an expected event.</p></center>
</div>


