@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout Confirmation";
}

    <h1 class="text-center mb-5  margin-top-120 text-center">@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <center>
                <form class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class=" btn   btn-outline-secondary text-center" style="min-height:50px;" >Click here to Logout</button>
                </form>
            </center>

            
        }
        else
        {
            <div class="text-center">
                <p>You have successfully logged out of the application.</p>
            </div>
        }
    }

