@page
@model RegisterConfirmationModel
@using Microsoft.AspNetCore.Identity
@using oa.Areas.Identity.Data
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    ViewData["Title"] = "Registration Complete";
}
<h1 class="text-center mb-5  margin-top-120">@ViewData["Title"]</h1>
@{

}
@if (User.IsInRole("Administrator") || User.IsInRole("Manager"))
{
    <p class="text-center">
        The users account has been created.
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here if you would like to auto confirm the new users account.</a>
    </p>
}
else
{
    <p class="text-center">Please check you email and confirm your account.  You may then login to the system.</p>
}