@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registration Complete";
}

<h1 class="text-center mb-2">@ViewData["Title"]</h1>

    <p>
        The users account has been created.
        <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here if you would like to auto confirm their account.</a>
    </p>

