@using Microsoft.AspNetCore.Identity
@using oa.Areas.Identity.Data
@using oa.Services
@using oa.Models;
@model oa.Models.AccountsModel
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject UserService CurrentUser
@{
    AppUserModel currentUser = CurrentUser.GetUser();
    var UsersEmail = currentUser.Email;
    var UserName = currentUser.ScreenName;
}

<div class="form-container  margin-top-120">
    <form asp-action="SaveNewAccountDetails" class="add-account-form-container">
        <h3 class="text-center">Create Account</h3>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @* row 1 *@
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-2">
                    <input asp-for="number" class="form-control form-control-sm" placeholder="number" />
                    <label asp-for="number" class="control-label"></label>
                    <span asp-validation-for="number" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-2">
                    <input asp-for="created_by" class="form-control form-control-sm" placeholder="created_by" value="@UserName" disabled />
                    <label asp-for="created_by" class="control-label"></label>
                    <span asp-validation-for="created_by" class="text-danger"></span>
                </div>
            </div>
        </div>
        @* row 2 *@
         <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-2">
                    <input asp-for="name" class="form-control form-control-sm" placeholder="name" />
                    <label asp-for="name" class="control-label"></label>
                    <span asp-validation-for="name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-2">
                    <input asp-for="account_creation_date" class="form-control form-control-sm" placeholder="account_creation_date" disabled />
                    <label asp-for="account_creation_date" class="control-label"></label>
                    <span asp-validation-for="account_creation_date" class="text-danger"></span>
                </div>
            </div>
        </div>
        @* row 3 *@
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-2">
                    <input asp-for="description" class="form-control form-control-sm" placeholder="description" />
                    <label asp-for="description" class="control-label"></label>
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-2">
                    <input asp-for="starting_balance" class="form-control form-control-sm currencyField" placeholder="starting_balance" data-val="false"  />
                    <label asp-for="starting_balance" class="control-label"></label>
                    <span asp-validation-for="starting_balance" class="text-danger"></span>
                </div>
            </div>
        </div>
        @* row 4 *@
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-2">
                    <select asp-for="type" class="form-select">
                        <option value=""></option>
                        <option value="Asset">Asset</option>
                        <option value="Liability">Liability</option>
                        <option value="Equity">Equity</option>
                        <option value="Revenue">Revenue</option>
                        <option value="Expense">Expense</option>
                        <option value="Non-operating">Non-operating</option>
                    </select>
                    <label asp-for="type" class="control-label"></label>
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-2">
                    <input asp-for="current_balance" class="form-control form-control-sm currencyField" placeholder="current_balance" data-val="false" />
                    <label asp-for="current_balance" class="control-label"></label>
                    <span asp-validation-for="current_balance" class="text-danger"></span>
                </div>
            </div>
        </div>
        @* row 5 *@
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <select asp-for="term" class="form-select form-control-sm">
                        <option value=""></option>
                        <option value="Short">Short Term</option>
                        <option value="Long">Long Term</option>
                    </select>
                    <label asp-for="term" class="control-label"></label>
                    <span asp-validation-for="term" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-2">
                    <select asp-for="sort_priority" class="form-select form-control-sm">
                        <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <label asp-for="sort_priority" class="control-label"></label>
                    <span asp-validation-for="sort_priority" class="text-danger"></span>
                </div>
            </div>
        </div>
        @* row 6 *@
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-2">
                    <select asp-for="statement_type" class="form-select form-control-sm">
                        <option value=""></option>
                        <option value="pl">Profit & Loss</option>
                        <option value="bs">Balance Sheet</option>
                        <option value="oe">Owner's Equity</option>
                    </select>
                    <label asp-for="statement_type" class="control-label"></label>
                    <span asp-validation-for="statement_type" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating mb-2">
                    <select asp-for="account_status" class="form-select form-control-sm">
                        <option value=""></option>
                        <option value="Active">Active</option>
                        <option value="Inactive">Inactive</option>
                    </select>
                    <label asp-for="account_status" class="control-label"></label>
                    <span asp-validation-for="account_status" class="text-danger"></span>
                </div>
            </div>
        </div>
        @* row 7 *@
        <div class="row g-2">
            <div class="col-md">
                <div class="form-floating mb-2">
                    <select asp-for="normal_side" class="form-select form-control-sm">
                            <option value=""></option>
                            <option value="Debit">Debit</option>
                            <option value="Credit">Credit</option>
                        </select>
                        <label asp-for="normal_side" class="control-label"></label>
                        <span asp-validation-for="normal_side" class="text-danger"></span>
                    </div>
            </div>
            <div class="col-md">
                    @* empty spot *@
            </div>
        </div>
        <hr />
        <h3 class="text-center mb-4 margin-top-20">Begining/Ending Journal</h3>
        @* begin journal entry *@
        @* transaction group 1 *@
        <div class="journal-container text-center">            
            @* heading row *@
            <div class="journal-row-heading">
                <div class="row g-1">
                    <div class="col-00 heading-col-00">
                        <span class="journl-number-col"></span>
                    </div>
                    <div class="col-md-2 margin-left-5">
                        <div>
                            <span>Date:</span>
                        </div>                        
                    </div>
                    <div class="col-md-3 margin-left-5">
                        <div>
                            <span>Debit Account:</span>
                        </div>
                        
                    </div>
                    <div class="col-md-3 margin-left-5">
                        <div>
                            <span>Credit Account:</span>
                        </div>                        
                    </div>
                    <div class="col-md-1 margin-left-5">
                        <div>
                            <span>Post Ref:</span>
                        </div>                        
                    </div>
                    <div class="col-md-1 margin-left-5">
                        <div>
                            <span>Dr.</span>
                        </div>                        
                    </div>
                    <div class="col-md-1 margin-left-5">
                        <div>
                            <span>Cr.</span>
                        </div>                        
                    </div>
                </div>
            </div>
            <div class="journal-row">
            @* entry 1.1 row *@
            <div class="row g-1 journal-item-row">
                <div class="col-00">
                    <span class="journl-number-col">1</span>
                </div>
                <div class="col-md-2">
                    <div class="">
                        <input type="date" class="form-control" id="InputDate1">
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-select md-3" aria-label="Small select example">
                        <option selected>Select a debit account</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="">
                        <input type="text" class="form-control empty" id="empt1" disabled>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="number" class="form-control" id="PostRef1-1">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="text-center">
                        <input asp-for="dr1" class="form-control form-control-sm currencyField" value="$0.00" data-val="false"/>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="text" class="form-control empty" id="empt2" disabled>
                    </div>
                </div>
            </div>
            @* entry 1.2 row *@
                <div class="row g-1 journal-item-row">
                <div class="col-00">
                    <span class="journl-number-col"></span>
                </div>
                <div class="col-md-2">
                    <div class="">
                        <input type="number" class="form-control empty" id="empty3" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">
                        <input type="number" class="form-control empty" id="empty4" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-select" aria-label="Small select example">
                        <option selected>Select a debit account</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="number" class="form-control" id="PostRef1-2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="text" class="form-control empty" id="empt2" disabled>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="number" class="form-control  currencyField" id="Cr1">
                    </div>
                </div>
            </div>
            </div>
            <div class="journal-row ">
            @* transaction group 2 *@
            @* heading row *@
            @* entry 2.1 row *@
                <div class="row g-1 journal-item-row">
                <div class="col-00">
                    <span class="journl-number-col">2</span>
                </div>
                <div class="col-md-2">
                    <div class="md-2">
                        <input type="date" class="form-control" id="InputDat2">
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-select md-3" aria-label="Small select example">
                        <option selected>Select a debit account</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <div class="mb-1">
                        <input type="text" class="form-control empty" id="empt2-1" disabled>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="number" class="form-control" id="PostRef2-1">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="number" class="form-control currencyField" id="Dr2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="text" class="form-control empty" id="empt2-2" disabled>
                    </div>
                </div>
            </div>
            @* entry 2.2 row *@
                <div class="row g-1 journal-item-row">
                <div class="col-00">
                    <span class="journl-number-col"></span>
                </div>
                <div class="col-md-2">
                    <div class="">
                        <input type="number" class="form-control empty" id="empty2-3" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="">
                        <input type="number" class="form-control empty" id="empty2-4" disabled>
                    </div>
                </div>
                <div class="col-md-3">
                    <select class="form-select" aria-label="Small select example">
                        <option selected>Select a debit account</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="number" class="form-control" id="PostRef2-2">
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="text" class="form-control empty" id="empt2-5" disabled>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="">
                        <input type="number" class="form-control currencyField" id="Cr2">
                    </div>
                </div>
                </<div>
            </div>
        </div>
        @* save btn *@
        <div class="mt-3 text-align-l">
            <div class="form-floating">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
            <div>        
                <a asp-action="ChartOfAccounts">Back to List</a>
            </div>
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
