@using Microsoft.AspNetCore.Identity
@using oa.Areas.Identity.Data
@inject UserManager<AppUser> UserManager
<h1 class="text-center margin-top-120">Accounting Home</h1>
<p class="text-center">Welcome @UserManager.GetUserName(User).</p>
<li class="nav-item">
    <a class="nav-link text-dark"  asp-controller="Accounting" asp-action="ChartOfAccounts">Chart Of Accounts</a>
</li>