@using Microsoft.AspNetCore.Identity
@using oa.Areas.Identity.Data
@using oa.Services
@using oa.Models
@inject UserManager<AppUser> UserManager

@{
    string? userid = UserManager.GetUserId(User);
    string? role = "";
    if (userid != null)
    {
        DbConnectorService dbServ = new DbConnectorService();
        AppUserModel user = dbServ.GetUserDetailsById(userid);
        role = user.UserRole;
    }
}

<h1 class="text-center margin-top-120">Accounting Home</h1>
<p class="text-center">Welcome @UserManager.GetUserName(User)!</p>
<p class="text-center">Your current role is: @role</p>

<div class="dashboard-container" id="partial-dashboard">
    @*<partial name="_DashboardPartial" model="Model"/>*@
</div>

@section Scripts {
    <script>
        $("#partial-dashboard").load("/Accounting/partialViewDashboard")
    </script>
}

    
<div class="outer-container">
    <div class="container-row">
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Accounting" asp-action="AddJounalEntries" data - bs - toggle="tooltip" data - bs - placement="bottom" data - bs - title="Journal entry page"><img class="btn-img" width="150" src="~/img/journal.jpg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Journal Entry</span>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Accounting" asp-action="ChartOfAccounts" data - bs - toggle="tooltip" data - bs - placement="bottom" data - bs - title="Chart of Accounts page"><img class="btn-img" width="150" src="~/img/chart_of_accounts.jpg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Chart of Accounts</span>
            </div>
        </div>
    </div>
    <div class="container-row">
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Accounting" asp-action="viewIncomeStatement" data - bs - toggle="tooltip" data - bs - placement="bottom" data - bs - title="View the Income Statement"><img class="btn-img" width="150" src="~/img/income_statement.jpg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Income Statement</span>
            </div>
        </div>

        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Accounting" asp-action="viewBalanceSheet" data - bs - toggle="tooltip" data - bs - placement="bottom" data - bs - title="View the Balance Sheet"><img class="btn-img" width="150" src="~/img/balance_sheet.jpg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Balance Sheet</span>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Accounting" asp-action="viewTrialBalance" data - bs - toggle="tooltip" data - bs - placement="bottom" data - bs - title="View the Trial balance"><img class="btn-img" width="150" src="~/img/trial_balance.jpg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Trial Balance</span>
            </div>
        </div>
        <div class="btn-container">
            <div class="btn-row">
                <a class="nav-link text-dark" asp-controller="Accounting" asp-action="viewOwnersEquity" data - bs - toggle="tooltip" data - bs - placement="bottom" data - bs - title="View the equity"><img class="btn-img" width="150" src="~/img/equity.jpg" /></a>
            </div>
            <div class="btn-row">
                <span class="btn-label">Owners Equity</span>
            </div>
        </div>

    </div>
</div>



