@using Microsoft.AspNetCore.Identity
@using OnAccount.Areas.Identity.Data
@inject UserManager<AppUser> UserManager

<h1 class="text-center">Congratulations @UserManager.GetUserName(User)!</h1>
<p class="text-center">You have gained access to the OnAccount accounting system.</p>