@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Baskervville+SC&family=Outfit:wght@100..900&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}

:root {
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-padding-x: 1rem;
    --res-background-gradient: white;
    --bs-border-color: #353535;
    /* --res-background-gradient: linear-gradient(126.22deg,#393939 -8%,#000000c9,#393939 14%);*/
}

html {
    font-size: 14px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.accounting-btn {
    padding-top: 8px;
    font-weight: 600;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: var(--res-background-gradient);
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.landing-logo-text {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: calc(5vw + 2.5vh);
}

.landing-tagline-text {
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.register-button {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    background-color: black;
    border: 1.5px black;
    border-radius: 10px 10px 10px 10px;
    color: white;
    height: 72px;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: grey 4px 4px 4px;
}

    .register-button:hover {
        background-color: #353535;
        border: 1.5px black;
        border-radius: 10px 10px 10px 10px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 32px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow: black 2px 2px 2px;
        opacity: 85%;
    }

.login-button {
    height: 72px;
    padding: 11px 32px;
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    background-color: black;
    border: 1.5px black;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: grey 4px 4px 4px;
}

    .login-button:hover {
        background-color: #353535;
        border: 1.5px black;
        border-radius: 10px 10px 10px 10px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 32px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow: black 2px 2px 2px;
        opacity: 85%;
    }

.manage-container-column {
    display: flex;
    flex-direction: column;
}

.manage-container-row {
    display: flex;
    flex-direction: row;
    max-height: 75px;
    padding: 10px;
}

.manage-btn-cntr {
    padding-right: 20px;
}

.form-drop-down {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
}

.container-email-btn {
    display: flex;
    flex-direction: column;
    text-align: center !important;
}

.row-email.btn {
    display: flex;
    flex-direction: row;
    max-height: 75px;
    padding: 10px;
}

.email-btn-right {
    margin-left: 15px;
}

.email-btn-left {
    margin-right: 15px;
}

.profile-picture-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.profile-picture-profile-row {
    display: flex;
    flex-direction: row;
}

.profile-picture-profile-img {
    max-height: 400px;
    min-height: 400px;
    max-width: 400px;
    min-width: 400px;
}

.profile-picture-header-img {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
}

.button {
    background-color: black;
    border: black;
    border-radius: 10px 10px 10px 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.NavButton {
    border: 1px black;
    border-radius: 5px 5px 5px 5px;
    display: flex;
}

.screenname-text {
    position: absolute;
    padding-top: 3px;
    padding-left: 30px;
}

.border-top {
    border-top: 0px !important;
}

/*  Nav begin */
header {
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
    height: 55px;
    top: 0;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px solid;
    border-color: black;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 120%;
    height: 55px;
    padding-left: 10px;
    padding-top: 6px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
    border-bottom: 1px solid;
    border-color: black;
}

.nav-row {
    display: flex;
    flex-direction: row;
}

.nav-inner-col-left {
    display: flex;
    justify-content: left;
    max-height: 50px;
    min-width: min-content;
}

.nav-inner-col-center {
    display: flex;
    max-height: 100px;
    width: auto;
}

.nav-inner-col-right {
    display: flex;
    justify-content: right;
    max-height: 50px;
    min-width: min-content;
    position: fixed;
    right: 0;
}

.nav-inner-col-left-item-column {
    display: flex;
    flex-direction: column;
}

.login-name-container {
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.login-name-container-inner-row {
    display: flex;
    flex-direction: row;
    max-height: 50px;
}

.user-login-name {
    padding-left: 20px;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-top-120 {
    margin-top: 120px;
}

.background-white {
    background-color: white;
}

.background-default-b {
    background-color: #0d6efd;
    color: white;
}

    .background-default-b:hover {
        background-color: #0067ff;
        color: white;
    }

.management-menu-container {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 55px;
    right: 97px;
    min-width: 170px;
    max-width: 170px;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    border-color: var(--bs-blue);
    background-color: white;
    z-index: 2;
}

.management-menu-row > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5px;
    text-decoration: none;
}

.management-menu-row:hover > a {
    background-color: var(--bs-blue);
    color: white !important;
    font-weight: 500;
    width: 100%;
}

.accounting-menu-container {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    right: 65px;
    min-width: 150px;
    max-width: 150px;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    border-color: var(--bs-blue);
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    z-index: 2;
}

.accounting-menu-row > a {
    color: #0f5dd1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 5px;
    text-decoration: none;
}

.accounting-menu-row:hover > a {
    background-color: var(--bs-blue);
    color: white !important;
    font-weight: 500;
    width: 100%;
}

.menu-manager-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    z-index: 2;
    opacity: .45;
}

.menu-hr {
    margin-bottom: 2px;
}

/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 575px) {
}

.form-row {
    padding: 5px 10px;
}

label {
    display: block;
    margin: 3px 0;
}

.form-row input {
    padding: 3px 1px;
    width: 100%;
}

input.currency {
    text-align: right;
    padding-right: 15px;
}

.input-group .form-control {
    float: none;
}

.input-group .input-buttons {
    position: relative;
    z-index: 3;
}

.clicktoselect {
    font-size: 18px !important;
    opacity: 75% !important;
}

.journal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.journal-row {
    margin-top: 5px;
    border: 1px solid #6c757d31;
    background-color: #6c757d0b;
    border-radius: 5px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
}

.edit-account-row {
    margin-top: 5px;
    border: 1px solid #6c757d31;
    background-color: #6c757d0b;
    border-radius: 5px;
    padding: 6.5px;
}



.journal-item-row {
    --bs-gutter-x: 5px;
    --bs-gutter-y: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.col-00 {
    flex: 1 0 0%;
    min-height: 35px;
    max-height: 35px;
    font-weight: 600;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-5 {
    margin-left: 5px;
}

.empty {
    background-color: transparent !important;
    border-color: transparent !important;
    opacity: 1;
}

.text-align-l {
    text-align: left;
}

.greyed-out {
    background-color: #6c757d31;
    --bs-body-bg: transparent;
    border-radius: 5px 5px 5px 5px;
}

.journal-row-bottom {
    margin-top: 5px;
    border: 1px solid #6c757d31;
    background-color: #6c757d0b;
    border-radius: 5px;
    height: 150px;
    padding-top: 2.5px;
}

.hr-journal-totals {
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 900;
    font-size: 50px;
    border: none;
    height: 2px;
    color: #333;
    background-color: #333;
    opacity: 1;
}

.journal-totals {
    display: flex;
    font-weight: 800 !important;
    justify-content: end !important;
    padding-top: 7.5px;
    padding-left: 20px;
    font-size: 24px !important;
    min-width: 200px;
    margin-right: 10px;
}

.text-end {
    text-align: end;
}

.icon-container {
    display: flex;
    flex-direction: column;
}

.icon-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    margin: 20px;
}

.outer-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 2px solid;
    border-color: black;
    border-radius: 10px 10px 10px 10px;
    margin-top: 50px;
    padding-bottom: 10px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4);
}

.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-img {
}

.btn-label {
    font-size: 24px;
}

.warning-row {
    display: flex;
    flex-direction: row;
    min-height: 30px;
    justify-content: right;
    margin-right: 100px;
}

.search-row {
    display: flex;
    flex-direction: row;
}

.search-colum-1 {
    display: flex;
    justify-content: left;
}

.search-colum-2 {
    display: flex;
    justify-content: right;
    padding-left: 82%;
}

.search-colum-3 {
    display: flex;
    justify-content: right;
}

.search-img {
    max-height: 28px;
    text-align: right;
    padding-top: 7.5px;
    padding-right: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}

.usr-login-btn {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    height: 38px;
    min-width: 150px;
    padding-top: 5px;
    padding-left: 12.5px;
    font-weight: 600;
    transform: translateY(-8.5px);
    color: #0d6efd;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
}

    .usr-login-btn:hover {
        background-color: #0d6efd;
        color: white;
        border: 0px;
    }

.usr-login-btn-not {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    border: 1px solid;
    border-radius: 5px 5px 5px 5px;
    height: 35px;
    min-width: 75px;
    padding-top: 6px;
    padding-left: 17px;
    font-weight: 600;
    transform: translateY(-8.5px);
    color: #0d6efd;
    margin: 0px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.4);
    margin-top: 1px;
}

    .usr-login-btn-not:hover {
        background-color: #0d6efd;
        border: 0px;
        color: white;
        opacity: .95;
    }

.tools-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 50px;
    width: 211px;
    max-height: 75px;
    top: 0px;
    left: 3.5px;
    z-index: -1;
    transform: translateY(2.5px);
    justify-content: space-between;
}


.tools-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4);
    padding: 4px;
    width: 150px;
    min-height: 40px;
    background-color: white;
    border: .5px solid;
    border-color: darkgray;
}

.calc-img {
    max-height: 35px;
    min-height: 35px;
    padding: 4px;
}

.cala-img {
    max-height: 35px;
    min-height: 35px;
    padding: 6.5px;
}

.help-img {
    max-height: 35px;
    min-height: 35px;
    padding: 4px;
    padding-top:5px;
}

.tools-row-inner-col {
    display: flex;
    flex-direction: column;
}

.tools-row-inner-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    margin: 5px;
}

.add-img {
    height: 25px;
    max-height: 25px;
    padding-left: 7.5px;
    padding-top: 5px
}

.remove-img {
    height: 25px;
    max-height: 25px;
    color: #ff4949;
    padding-left: 7.5px;
    padding-top: 5px
}

.transaction-header-text {
    font-size: 18px;
    font-weight: 500;
}

.add-new-line {
    min-height: 32px;
    min-width: 40px;
    padding-top: 7px;
    padding-bottom: 0px;
}

.btn-symbol {
    font-weight: 600;
    text-align: center;
}

.transaction-description {
    padding-top: 6.5px;
    transform: translateX(-7.5px);
    min-width: 618px;
}

.add-label {
    justify-content: end;
}

.journal-save-row {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 10px;
    margin-left: 12px;
}
.journal-final-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}
.add-new-transaction {
    min-height: 32px;
    min-width: 40px;
    padding-bottom: 0px;
    margin-left: 15px;
}

.remove-new-transaction{
    margin-left:10px;
}

.journal-row-heading {
    margin-top: 5px;
    border: 1px solid #6c757d31;
    background-color: #6c757d0b;
    border-radius: 5px;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.journal-description{
    margin-left: 10px;
    margin-right:10px;
}

.transaction-upload-container {
    max-width: 350px;
    margin-right: 316px;
}

.transaction-date-container {
    max-width: 175px;

}
.transaction-description{
    margin-left: 4px;
}
.add-sub-transactions-continer {
    max-width: 350px;
    margin-right: 313px;
}
.add-sub-transactions-label{
    display:flex;
    flex-direction: row;
    justify-content: right;
    padding-top: 7px;
    text-align:right;
}
.journal-transaction-upload {
    min-width:200px;
}

.journal-transaction-date {
    padding-right: 10px;
}
.add-new-transaction-btn-container{
    max-height:45px;
    margin-right:20px;
}

.muted {
    border: 1px solid #6c757d87;
    background-color: #6c757d0b;
}

.add-new-transaction-btn-label{
    display:flex;
    flex-direction:row;
    justify-content:right;
}
.add-sub-transactions-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.tool-btn {
    display: inline-flex;
    justify-content: space-evenly;
    text-align: center;
    border: 1px solid;
    border-color:transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0);
    min-height: 40px;
    min-width: 40px;
}
    .tool-btn:hover {
        border: 1px solid;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.4);
        border-color: black;
    }


