.widgetbox {
    min-width: 300px;
    min-height: 400px;
    position: absolute;
    z-index: 5;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.widgetbox-help {
    min-width: 300px;
    min-height: 400px;
    margin-left:5px;
    padding-right:5px;
    position: absolute;
    z-index: 5;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.widget-container {
    position: absolute;
    height: 0px;
    max-width:300px;
}

#title-bar {
    max-width: 300px;
    min-width: 300px;
    height: 25px;
    background-color: #000000;
    color: white;
    cursor: move;
    text-align: center;
    line-height: 25px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;

}

.attribution-bar {
    display: flex;
    position: absolute;
    transform: translateY(315px);
    background-color: #3f9c96;
    border: 1px solid;
    width: 99%;
    font-family: 'Poppins', sans-serif;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 25px;
    background-color: rgb(204, 71, 71);
    color: white;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    border: 0px;
    font-family: 'Poppins', sans-serif;
}

